* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}
