* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 40px;
    background: var(--header); 
    border-bottom: 1px solid var(--line);
    z-index: 1000;
}

.topo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 5vw;
}

.topo-direito {
    display: flex;
    gap: 10px;
}

.topo-direito a {
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 13px;
    font-weight: bold;
    text-align: center;
    align-items: center;
}

.login {
    background: transparent;
    color: var(--accent);
    border: 1px solid var(--accent);
}

.login:hover{
    box-shadow: 0 0 3px var(--accent);
    transition: .3s ease;
}

.cadastrar{
    background: var(--cor-primaria);
    color: #fff;
}

.cadastrar:hover{
    background: var(--cor-primaria-hover);
}