* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.topo {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 40px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

.topo-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 80px;
}

.topo-direito {
    display: flex;
    gap: 10px;
}

.topo-direito a {
    border: 1px solid var(--cor-primaria);
    text-decoration: none;
    color: aliceblue;
    padding: 5px 10px;
    border-radius: 15px;
}